doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Update
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css')
  script(src='https://kit.fontawesome.com/ae360af17e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/babyClockin.css')
.wrapper
  aside#sidebar.js-sidebar.bg-dark
    // Content For Sidebar
    .h-100
      .sidebar-logo
        a(href='#') DayStar DayCare
      ul.sidebar-nav
        li.sidebar-header
          | ADMIN
        li.sidebar-item
          a.sidebar-link.text-bg-success(href='/dashboard')
            i.fa-solid.fa-list.pe-2
            |                             Dashboard
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#pages' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                            Manage  Babies
          ul#pages.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/babiesRegister') Register new Child
            li.sidebar-item
              a.sidebar-link(href='/babies') View All Children
            li.sidebar-item
              a.sidebar-link(href='/babyClockIn') Clocked-In Children
            li.sidebar-item
              a.sidebar-link(href='/clockingOutList') Clocked-Out Children
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#pages' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                           Manage Sitters
          ul#pages.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/sittersRegister') Register new Sitter
            li.sidebar-item
              a.sidebar-link(href='/sitters') View All Sitters
            li.sidebar-item
              a.sidebar-link(href='/sittersPresent') Present Sitters
            li.sidebar-item
              a.sidebar-link(href='/sittersAbsent') Absent Sitters
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#posts' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                           Manage Procurement
          ul#posts.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/procurementRegister') Register New Procurement Item
            li.sidebar-item
              a.sidebar-link(href='/procurementView') View Procurement Items
            li.sidebar-item
              a.sidebar-link(href='/itemAvailableRegistered') Available Items
            li.sidebar-item
              a.sidebar-link(href='/itemFinishedRegistered') Finished Items
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#posts' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                             Reports & Analytics
          ul#posts.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='#') Reports
            li.sidebar-item
              a.sidebar-link(href='#') Revenue
            li.sidebar-item
              a.sidebar-link(href='#') Expenses
        li.sidebar-item
          a.sidebar-link.collapsed(href='#' data-bs-target='#auth' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-regular.fa-user.pe-2
            |                             Auth
          ul#auth.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/login') Login
            li.sidebar-item
              a.sidebar-link(href='/createAccount') Register Admin
            li.sidebar-item
              a.sidebar-link(href='#') Forgot Password
  .main
    nav.navbar.navbar-expand.px-3.border-bottom
      button#sidebar-toggle.btn(type='button')
        span.navbar-toggler-icon
      .navbar-collapse.navbar
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-icon.pe-md-0(href='#' data-bs-toggle='dropdown')
              img.avatar.img-fluid.rounded(src='/images/lady-teacher.jpeg' alt='')
            .dropdown-menu.dropdown-menu-end
              a.dropdown-item(href='#') Profile
              a.dropdown-item(href='#') Setting
              a.dropdown-item(href='#') Logout
    main.content.px-3.py-2
      .container-fluid
        // Content  
        .container
          h1 Baby Clocking In
          form#registrationForm(action= '/babyClockIn?id='+baby._id  method='POST')
             .form-group
              label(for='name') Name:
              input#name(type='text' name='name' value= baby.name readonly)    
             .form-group
              label(for='sitter') Sitter:
              select#sitter.form-control(name='sitter')
                option(value='') Select Sitter
                 if sitters.length
                 each sitter in sitters
                     option(value=sitter._id)= sitter.name
              small#sitterErr
               .form-group
                label(for='paidFee') Select Period Of Stay 
                select#paidFee(name='paidFee' value=baby.paidFee)
                  option(value='') Select Period Of Stay
                  option(value='Half A Day (UGX 10000)') Half A Day (UGX 10000)
                  option(value='Full Day (UGX 15000)') Full Day (UGX 15000)
               .form-group
                 label(for='childBroughtBy') Child Brought by:
                 input#childBroughtBy(type='text' name='childBroughtBy' value= baby.childBroughtBy)
               .form-group
                 label(for='arrivalTime') Arrival Time:
                 input#arrivalTime(type='time' name='arrivalTime' value= baby.arrivalTime)
               .form-group
                 input#status(type='hidden' name='status'  value= 'ClockedIn')
               .form-group
                 label(for='childNumber') Child Number:
                 input#childNumber(type='text' name='childNumber' value= baby.childNumber)
               button.btn.btn-success#register(type='submit' value='Register') Submit 

    a.theme-toggle(href='#')
      i.fa-regular.fa-moon
      i.fa-regular.fa-sun
    footer.footer
      .container-fluid
        .row.text-muted
          .col-6.text-start
            p.mb-0
              a.text-muted(href='#')
                strong
                  p &copy; 2024 All Rights Reserved. DayStar Daycare &amp; kindergarten 
          .col-6.text-end
            ul.list-inline
              li.list-inline-item
                a.text-muted(href='#') Contact
              li.list-inline-item
                a.text-muted(href='#') About Us
              li.list-inline-item
                a.text-muted(href='#') Terms
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js')
script(src='/js/babiesRegister.js')





        
