doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcome to Daystar Daycare Nursery
  link(rel='stylesheet' href='/css/index.css')
.container
  .content
    h1 Welcome to Daystar Daycare Nursery &amp; Kindergarten
    a(href='/welcome')
      button Get Started