* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* very important*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

#main-div{
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: 100%;
    min-height: 100px;
    margin: auto;
}

#logo-nav-parent{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: rgb(2, 106, 2);
    margin-bottom: 250px;
}

#welcome{
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
}

.text-color{
    color: white;
}
#navbar{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    align-items: center;
    justify-content: right;
    padding-right: 80px;
}
